* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 69px;
    border-bottom: 1px solid seashell;  
    position: fixed;
    z-index: 10;
}

#Logo {
    height: 50px;
    padding-left: 10px;
    padding-top: 10px;
    float: left;
}

nav {
    display: flex;
    justify-content: flex-end;
    text-decoration: underline;
    list-style: none;
    padding-top: 20px;
    padding-right: 10px;
    gap: 20px;
}


.teaChoices img {
    height: 200px;
    width: 300px;
}

.missionImg {
    width: 100%;
    height: 769px;
    padding-top: 69px;
}

#missionImg {
    height: auto;
    width: auto;
}

.missionStatement {
    width: 100%;
    height: auto;
    position: relative;
    top: -400px;
    line-height: 37px;
    text-wrap: nowrap;
    min-width: 1200px;
}

.teaChoices {
    margin-top: 50px;
    width: auto;
    padding-bottom: 20px;
    position: relative;
}

.teaChoicesText {
    line-height: 40px;
}

.teaBoxes {
    width: auto;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-bottom: 20px;
    padding-top: 7px;
}

.teaChoicesRow2 {
    display: flex;
    justify-content: center;
    width: auto;
    gap: 20px;
    padding-right: 20px;
}

.teaBoxes h4 { 
    padding-top: 10px;
}

.locationLayout {
    position: relative;
}

.locationLayout {
    overflow: hidden;
    min-height: 500px; 
}

.locationLayout img {
    position: absolute;
    display: block;
    /* margin-left: 200px; */
    width: 100%;
    min-width: auto;
    max-width: auto;

}


.locations {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-content: center;
    flex-wrap: wrap;
    line-height: 50px;
    justify-self: auto;
    align-self: auto;
}


.boxes {
    min-width: 300px;
}

footer {
    height: 200px;
    line-height: 50px;
}

#fhead {
    padding-bottom: 10px;
}

#copyright {
    text-align: left;
    margin-left: 20px;
}
